html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: "Raleway", sans-serif; }

.contenedor {
  max-width: 1100px;
  margin: 0 auto; }

.oculto {
  display: none; }

.centrado {
  text-align: center; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .logo {
    padding: 1.4rem 0; }

.carrito-compras {
  position: relative;
  cursor: pointer; }
  .carrito-compras:hover .contenido {
    background: #f2f2f2;
    display: block;
    position: absolute;
    left: -147px;
    padding: 1rem;
    max-width: 400px;
    border-radius: 10px; }
    .carrito-compras:hover .contenido img {
      max-width: 150px; }
    .carrito-compras:hover .contenido .boton {
      background: #33c3f0;
      text-decoration: none;
      color: #fff;
      display: block;
      padding: .5rem 1rem;
      margin-top: 1rem;
      text-align: center; }

.hero {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 24rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .hero .contenido-hero {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .hero .contenido-hero h2 {
      font-weight: 400;
      font-size: 2.4rem; }
    .hero .contenido-hero p {
      font-size: 1.2rem; }
    .hero .contenido-hero form {
      position: relative; }
      @media screen and (min-width: 768px) {
        .hero .contenido-hero form {
          width: 40%; } }
      .hero .contenido-hero form input[type="text"] {
        width: 100%;
        height: 3rem;
        border: none;
        border-radius: 10px;
        padding-left: 1rem; }
        .hero .contenido-hero form input[type="text"]:focus {
          outline: none; }
      .hero .contenido-hero form input[type="submit"] {
        position: absolute;
        right: 0;
        top: 0;
        background: white;
        background-image: url("../img/lupa.png ");
        background-repeat: no-repeat;
        background-position: center;
        width: 3rem;
        height: 3rem;
        display: block;
        border: none;
        border-radius: 10px; }
    @media screen and (min-width: 480px) {
      .hero .contenido-hero {
        padding: 0 1rem; } }
    @media screen and (min-width: 768px) {
      .hero .contenido-hero {
        padding: 0 0 0 1rem; } }
    @media screen and (min-width: 1100px) {
      .hero .contenido-hero {
        padding: 0; } }

.barra {
  min-height: 7rem;
  background: linear-gradient(to right, #741d51 0%, #e44e52 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .barra .iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    @media screen and (min-width: 1100px) {
      .barra .iconos {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
    .barra .iconos .icono {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background-size: 2.5rem;
      text-align: center;
      background-position: 15% center !important; }
      @media screen and (min-width: 768px) {
        .barra .iconos .icono {
          background-position: 30% center !important; } }
      @media screen and (min-width: 1100px) {
        .barra .iconos .icono {
          background-position: left center !important; } }
      .barra .iconos .icono.icono1 {
        background-image: url("../img/icono1.png");
        background-repeat: no-repeat;
        background-position: center; }
      .barra .iconos .icono.icono2 {
        background-image: url("../img/icono2.png");
        background-repeat: no-repeat;
        background-position: center; }
      .barra .iconos .icono.icono3 {
        background-image: url("../img/icono3.png");
        background-repeat: no-repeat;
        background-position: center; }

.cursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .cursos .curso {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    border: 1px solid #d9d9d9;
    margin-bottom: 1rem; }
    .cursos .curso .imagen-curso {
      width: 100%; }
    @media screen and (min-width: 480px) {
      .cursos .curso {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1rem);
        flex: 0 1 calc(50% - 1rem); } }
    @media screen and (min-width: 768px) {
      .cursos .curso {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(33% - 1rem);
        flex: 0 1 calc(33% - 1rem); } }
    @media screen and (min-width: 1100px) {
      .cursos .curso {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(25% - 1rem);
        flex: 0 1 calc(25% - 1rem); } }

.info-curso {
  padding: 1rem; }
  .info-curso h4 {
    margin: 0;
    font-size: 1.2rem; }
  .info-curso .precio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .info-curso .precio .regular {
      text-decoration: line-through;
      color: red; }
    .info-curso .precio .oferta {
      font-size: 1.3rem;
      font-weight: bold;
      color: green; }
  .info-curso .boton {
    background: #741d51;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .5rem 1rem;
    margin-top: 1rem;
    text-align: center; }

.footer {
  border-top: 1px solid #d9d9d9;
  margin-top: 1rem;
  padding-top: 2rem; }
  .footer .contenedor-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 480px) {
      .footer .contenedor-footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem; }
  @media screen and (min-width: 480px) {
    .menu {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(30% - 1rem);
      flex: 0 1 calc(30% - 1rem); } }
  .menu a {
    color: #000000;
    text-decoration: none;
    margin-bottom: .5rem; }
